*{
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

/* BARRA SUPERIOR */
.barra{
    background-color: rgb(61, 61, 61);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    font-size: 25px;
    color: white;
}

.icon{
    margin: 3px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon:hover{
    background-color: rgb(128, 128, 128);
}

#fecha{
    margin-right: 5px;
}

#fecha:hover{
    background-color: rgb(238, 25, 25);
}

a{
    color: white;
    cursor: default;
}

/* RESTO DOS BAGUI */

section{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title span{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 80px
}

#G{
    color: rgb(36, 36, 206);
}

#o{
    color: rgb(228, 41, 41);
}

#o2{
    color: rgb(255, 255, 67);
}

#g{
    color: rgb(36, 36, 206);
}

#l{
    color: rgb(13, 75, 13);
}

#i{
    color: rgb(228, 41, 41);
}

.title{
    margin-top: -190px;
    margin-bottom: 50px;
}

.pesquisa{
    background-color: white;
    width: 40%;
    height: 46px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50px;
}

.pesquisa:hover{
    box-shadow: gray 0.01px 0.1px 7px;
}

.pesquisa input{
    background-color: transparent;
    border: none;
    width: 90%;
    padding-left: 20px;
    font-size: medium;
}

.pesquisa button{
    height: 100%;
    border: none;
    width: 9%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    background-color: white;
    transition: 0.4s ease-in-out;
}

.pesquisa button:hover{
    background-color: rgb(230, 230, 230);
}
